/* h1{
    font-size: 2.5em;
    font-weight: 700;
} */

#nome_amico{
    font-size: 0.80em;
}

#album_amico{
    font-size: 0.80em;
}

#canzone_amico{
    font-size: 0.80em;
}

#ore_amico{
    font-size: 0.8em;
}

#icon_disc{
font-size: 1em;
}

.album{
    font-size: 0.7em;
    font-weight: 600;
}

.album2{
    font-size: 0.8em;
    font-weight: 600;
}

#nameArtistLg{
    font-size: 0.8em;
    font-weight: 600;
}

#dateArtistLg{
    font-size: 0.8em;
    font-weight: 600;
}

#braniArtistLg{
    font-size: 0.8em;
    font-weight: 600;
}

#timeArtistLg{
    font-size: 0.8em;
    font-weight: 600;
}

.music-player {
    width: 100%;
    height: 100px;
}

#album_cover_player{
    width: 60px;
    height: 60px;
}