@font-face {
    font-family: 'MyCustomFont';
    src: url('../fonts/CircularStd-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* Applicazione del font */
body {
    font-family: 'MyCustomFont', sans-serif;
}